@using CSS_Server.Models
@using CSS_Server.ViewModels
@using Newtonsoft.Json.Linq

@{
    Layout = "_Layout";
}

@model CameraFootageViewModel

<h1>Footage for Camera: @Model.CameraName (@Model.CameraId)</h1>

<main class="main_dashboard">

    @if (Model.Footage != null && Model.Footage.Count() > 0)
    {
        <div class="cameras-container">

            @foreach (Footage footage in Model.Footage)
            {
                <div class="single-camera-block">
                    <img src="/media/camerafootage.jpg" alt="footage">
                    <p>@footage.Filename</p>
                    <p>Length: @TimeSpan.FromMilliseconds( @footage.Duration.GetValueOrDefault() ).ToString(@"hh\:mm\:ss\:fff") </p>
                    <p>Resolution: @footage.Resolution</p>
                    <p>Bitrate: @Math.Round( (double) footage.Bitrate.GetValueOrDefault() / (1000 * 1000), 2) Mbps</p>
                </div>
            }
        </div>
    } else
    {
        <h1>No footage for this camera or camera is not found/offline</h1>
    }
</main>
