@using CSS_Server.Models
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery

@{
    Layout = "_Layout";
}

@model List<Camera>

<main class="main_dashboard">
    <button class="addButton" title="Register a new camera">+</button>
    <h1>Camera's</h1>
    <div id="AntiForgeryToken">@AntiForgery.GetAndStoreTokens(Context).RequestToken</div>

    <div class="cameras-container">

    @foreach (Camera camera in Model)
    {
        <div class="single-camera-block" cameraId="@(camera.ID)" online="@(camera.IsConnected().ToString())">
            <img src="media/camerafootage.jpg" alt="footage">
            <div class="camera-info">
                <h2>Camera: @camera.Name (@camera.ID) </h2>
                <span>
                    <span class="@(camera.IsConnected() ? "online" : "offline")"></span>
                    <span class="trashbin"></span>
                    <span class="pencil"></span>
                </span>
                
            </div>
        </div>
    }
    </div>
</main>

<script src="~/js/CameraIndex.js"></script>
