<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />


        <meta charset="utf-8" />
        <title>@ViewData["Title"]</title>

    

    </head>
    <body>

    @if (User.Identity.IsAuthenticated)
    {
        <nav>
          <a href="@Url.Action("Index", "Camera")"><i class="fas fa-camera"></i> Home</a>
          <a href="@Url.Action("Index", "Account")"><i class="fas fa-users"></i> Accounts</a> 
          <a href="@Url.Action("LogOut", "Account")"><i class="fas fa-user-circle"></i>Logout</a>
          <div>Hola @User.Identity.Name</div>
        </nav>
    }
        
        
            @RenderBody()

    <div id="snackbar"/>
    @if(TempData.TryGetValue("snackbar", out object snackbarText))
    {
        <script>
            var snackbar = document.getElementById("snackbar");
            snackbar.innerText = "@snackbarText.ToString()";
            snackbar.className = "show";
            setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 3000);
        </script>
    }

    </body>
</html>
