@using CSS_Server.ViewModels
@using CSS_Server.Models
@using Microsoft.AspNetCore.Mvc.ModelBinding

@{
    Layout = "_Layout";

    //This function is used to show validation errors for a given property.
    void ErrorHelper(string propertyName)
    {
        //If the already posted property is not set, It's the first time the view will be showed to the user.
        //In that case we do not want to show any error messages.
        if (!ViewData.TryGetValue("AlreadyPosted", out object alreadyPosted) || !(bool)alreadyPosted)
            return;

        //If there is no modalState entry for the given prop, return.
        @if (!ViewData.ModelState.TryGetValue(propertyName, out ModelStateEntry value))
            return;

        @if(value.Errors.Count > 0)
        {
            //Foreach error add a span to the dom.
            @foreach (ModelError error in value.Errors)
            {
                <span class="validationError">@error.ErrorMessage</span>
            }
        }
    }
}

@model RegisterUserViewModel

<main class="main_form">
    @if (!Model.SuccesfullAdded)
    {
        <form action="#" method="post">
            <h1>
            Register a new User
        </h1>
        <div class="inputBox">
            <label for="UserName">UserName</label>
            <input asp-for="UserName" name="UserName" type="text" value="@Model.UserName">
            @{ ErrorHelper("UserName"); }
        </div>

        <div class="inputBox">
            <label for="Email">Email</label>
            <input asp-for="Email" name="Email" type="text" value="@Model.Email">
            @{ ErrorHelper("Email"); }
        </div>

        <div class="inputBox">
            <label for="password">Password</label>
            <input asp-for="Password" name="password" type="password" value="@Model.Password">
            @{ ErrorHelper("Password"); }
        </div>

        <div class="inputBox">
            <label for="RetypePassword">Retype Password</label>
            <input asp-for="RetypePassword" name="RetypePassword" type="password" value="@Model.RetypePassword">
            @{ ErrorHelper("RetypePassword"); }
        </div>

        <input type="submit" value="Register User">
    </form>
    }

    else
    {
        <div>
            <h2>User was succesfully added!</h2>
            <button onclick="location.href='@Url.Action("Index", "Account")'">Go to Account overview</button>
        </div>
    }
</main>

<script>
//Get all inputboxes
Array.from(document.querySelectorAll(".inputBox")).forEach(function(inputBox){
    //Foreach input box add the keydown event listener.
    inputBox.querySelector("input").addEventListener("keydown", function(){
        //When the keydown event happens, the validationerrors in the inputBox will be removed.
        Array.from(inputBox.querySelectorAll(".validationError")).forEach(function(error){
            error.remove();
        });
    });
});
</script>